
.header {
    background-color: #86baa1;
    padding: 20px;
}

.nav {
    background-color: #e9c875;
}

.nav-link {
    background-color: #e9c875;
    color: black !important;
}

.frog-active {
    display: inline-block;
}

.frog-inactive {
    display: none;
}

.mooli-regular {
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
  }

#me {
    float: left;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 300px;
}
  
.card {
    width: 250px;
}

.cardImg {
    height: 150px;
}

.portfolioBody {
    margin-top: 20px;
    margin-bottom: 80px;
}

.footer {
    background-color: white;
}